<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enter new book</title>
    <link rel="stylesheet" href="create.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="box">
      <h3 class="new">EDIT</h3>
      <form action="" method="post">
        <input
          type="text"
          name="name"
          value="<%= books[0].Name  %>"
          placeholder="Name of the book"
          class="det"
          required
        /><br /><br />
        <select id="type" name="type" value="<%= books[0].Type  %>" class="deta" required>
          <option value="" selected disabled>Type</option>
          <option value="Book">Book</option>
          <option value="Article">Article</option>
          <option value="Academic Journal">Journal</option>
          <option value1="Essay Resource">Essay</option>
        </select><br /><br />
        <select id="status" name="status" value="<%= books[0].Status  %>" class="deta" required>
          <option value="" selected disabled>Status</option>
          <option value="Not Started">Not Started</option>
          <option value="In Progress">In Progress</option>
          <option value="Done">Done</option>
        </select><br /><br />
        <select id="score" name="score" value="<%= books[0].Score  %>" class="deta" required>
          <option value="" selected disabled>Score</option>
          <option value="TBD">TBD</option>
          <option value="⭐⭐⭐⭐⭐">⭐⭐⭐⭐⭐</option>
          <option value="⭐⭐⭐⭐">⭐⭐⭐⭐</option>
          <option value="⭐⭐⭐">⭐⭐⭐</option>
          <option value="⭐⭐">⭐⭐</option>
          <option value="⭐">⭐</option>
        </select><br /><br />
        <input
          type="text"
          name="author"
          value="<%= books[0].Author  %>"
          placeholder="Name of the Author"
          class="det"
          required
        /><br /><br />
        <input
          type="date"
          name="date"
          value="<%= books[0].Completed  %>"
          placeholder="Completed Date"
          class="det"
          required
        /><br /><br />
        <input type="submit" value="submit" class="deta sub"/>
      </form>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
